.detail {
    display:flex;
    position:absolute;
    left: 40%;
    top: 300px;
    box-sizing:inherit;
    

}

.example-card {
    width: 300px;
    background-color:rgba(0,0,0, 0.4);
    border:solid;
    border-color:#f70532 ;
    color: white;
  }
  
  .example-header-image {

    background-size: cover;
  }

